<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Modelo</th>
        <th scope="col">Precio</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productsList">
        <td>{{ product.producto }}</td>
        <td>{{ product.modelo }}</td>
        <td>{{ product.precio }}</td>
        <td >
            <app-botonestabla [propertiesBtn]="btnTablaProperties" (eventoEliminar)="eventoEliminar(product)" (eventoEditar)="eventoEditar(product.idProducto)"></app-botonestabla>
        </td>
      </tr>
    </tbody>
  </table>

  <div #botones  style="display: none;">
    <button class="btn btn-success"> Agregar Productos </button>
  </div>
